:root {
    --main-font-color: #00bfa5;
    --sub-font-color: #00675b;
    --bkg-gradient : linear-gradient(60deg, #29323c 0%, #485563 100%);
    --liner-gradient  : linear-gradient(60deg, #29323c 0%, #485563 100%)
}